body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
 
    background-color: burlywood;
    background-size: cover;        /* l’image prend tout l’écran */
    background-repeat: no-repeat;   /* pas de répétition */
    background-position: center;    /* centrée */
}

/* ----- BARRE DU HAUT ----- */
#barre-haut {
    /* Espace autour du contenu de la barre */
    padding: 15px 40px;

    /* Flexbox met le logo et le menu sur la même ligne */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-weight: bold;
    font-size: 24px;
}

#menu a {
    color: white;              
    text-decoration: none;     /* enlève le soulignement */
    margin-left: 20px;         
    font-size: 13px;
    text-transform: uppercase; 
}

#titre {
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

li {
    white-space: normal;
}

#projet {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

#texte {
    display: flex;
    flex-direction: column;
    
}

#maquette {
    width: 600px;
}

.taille {
    font-size: 25px;
}

#texte {
    margin-top: 70px;
    margin-bottom: 70px;
    border-style: solid;
    border-color: rgb(175, 86, 13);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

}

